body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
p{
    line-height: 2em;
}
section{
    padding-bottom: 150px;
}
.container-flex{
    display: flex;
}
.my-name{
    color: orange;
}
.welcome-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.first-section-margin{
    margin-top: 25px;
}
.half-width h1{
    font-size: 47px;
    margin-top: 0;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 87%;
}
.hireMe-button{
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    color: #ffffff;
    font-weight: 700px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience h1{
    font-size: 50px;
}
.ex-h1{
    box-shadow: 10px 10px 40px #7a7a7a;
    width: 40%;
    margin: 0% 5%;
    padding: 10px 10px 10px 50px;
}
.ex-h1 h1{
    width: 40%;
    font-size: 37px;
}
.exp-left-border{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange) 30;
}
.exp-right-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 30;
}
footer p{
    text-align: center;
}